.specialLetter {
    font-family: 'Pinyon Script', cursive;
    font-size: 170px;
    color: #d4a8774e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightArtDirector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(226, 226, 226, 0.633);
}

.overwriteTitle {
    position: relative;
    width: 100%;
    text-align: center;
}

.mainTitle {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
    font-weight: 200;
}

.rightArtDirector h2 {
    margin-top: -60px;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 400;
    color: rgb(111, 111, 111);
}

.rightArtDirector h3 {
    padding: 20px 40px;
    font-size: 19px;
    letter-spacing: 2px;
    color: rgb(50, 50, 50);
    font-weight: 300;
    text-align: center;
}

.rightArtDirector a {
    color: #fff;
    background-color: black;
    padding: 12px 20px;
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom: 50px;
    transition: .3s;
}

.rightArtDirector a:hover {
    box-shadow: 0 0 5px 2px #777777;
}