.navbar{
    padding: 0 5px;
}

.navBarColor{
    background-color: #fff!important;
    z-index: 99999999;
}

.navSpace{
    letter-spacing: 1.5px!important;
}

.logoImg img{
    width: 160px;
}

.middleLink{
    margin: 0 auto;
}

.navName{
    margin: 0 20px;
    font-size: 16px;
    color: rgb(73, 73, 73)!important;
}

.bookBtn{
    background-color: black;
    color: #fff;
    border: none;
    padding: 14px 30px;
    letter-spacing: 1.5px!important;
}