.backGroundBlogDetails{
    background: rgba(0,0,0,0.50) url('../../../../src/Images/BlogPage/bannerTest.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backGroundBlogDetailsTag{
    color: rgb(228, 228, 228);
    letter-spacing: 2px;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 25px;
}

.backGroundBlogDetailsTitle{
    letter-spacing: 1px;
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    padding: 0 200px;
}

.backGroundBlogDetailsTimeComment{
    color: rgb(236, 236, 236);
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.backGroundBlogDescription{
    color: rgb(0, 0, 0);
    letter-spacing: 1.2px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: justify;    
}

.backGroundBlogColon{
    font-size: 200px;
    font-family: sans-serif;
    text-align: center;
}

.backGroundBlogQuote{
    margin-top: -100px;
    padding: 0 70px;
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 80px;
}

.blogDetailsComment h4{
    font-weight: 500;
    margin-bottom: 25px;
}
.blogDetailsComment h5{
    font-weight: 400;
    color:rgb(49, 49, 49);
    font-size: 18px;
    margin-top: 25px;
}

.blogDetailsComment textarea{
    border: 1px solid rgb(189, 189, 189);
    outline: 0;
    padding: 5px;
    color: rgb(109, 109, 109);
}